@font-face {
  font-family: 'Flavors';
  font-style: normal;
  font-weight: 400;
  src: local('Flavors'), local('Flavors-Regular'), url('./7ed-D3MQicPNqc0ZKJ1T1Q.woff') format('woff');
}

* {
margin: 0;
padding: 0;
}

body {
font-family: 'Flavors', cursive;
}

h1 {
float:left;
width: 50%;

}
p  {
  font-family: 'Flavors';

font-size: 18px;
}

#container{
    position:absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom:30px;
    background: repeating-linear-gradient(top left -45deg, red, red 5px, white 5px, white 10px);
    margin: 20px;
}

#Board{
    float: left;
}
#Game{
    float: left;
}
#Panel{
    width: 200px;
    margin: 0px 0  0 30px;
    padding: 0px 10px 10px 10px;
    float: left;
}

#Log {
    float: right;
    width: 250px;

    background: repeating-linear-gradient(top left -45deg, red, red 5px, white 5px, white 10px);

}

#GameLog p {
  font: 12px Helvetica, Arial;
}

#GameLog{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
    border-radius: 6px;

    float:left

    background: #fdfdfd;


    /* Mozilla: */
    /*background: -moz-linear-gradient(top, #00FF00, #000000);
    /* Chrome, Safari:*/
    background: repeating-linear-gradient(top left -45deg, red, red 5px, white 5px, white 10px);

    /*background: -webkit-gradient(linear,
                left top, left bottom, from(#fbfbfa), to(#fdfdfd));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=0);

background-image: -o-linear-gradient(rgb(100,100,100),rgb(200,200,200));

    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;

    float:left;
    border:1px solid #eee;
}


#t {
    float:left;
}

#delete_button {
    float:right;
}

.annound {
    color: #00B300;
}
.event {
    color:#aaa;
}

.error {
    color:red;
}

.warning{
    font-weight:bold;

    color:#CCC;
}

button {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #43a1f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #377ad0));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  border: 1px solid #2e70c4;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-shadow: 0 -1px 1px #2d6dc0;
}
button:hover,
button.hover {
  background: darker;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #2e70c4));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  border: 1px solid #2e70c4;
  cursor: pointer;
  text-shadow: 0 -1px 1px #2c6bbb;
}
button:active,
button.active {
  background: #2e70c4;
  border: 1px solid #2e70c4;
  border-bottom: 1px solid #2861aa;
  text-shadow: 0 -1px 1px #2b67b5;
}
button:focus,
button.focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
}

.scoll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scoll::-webkit-scrollbar-button:start:decrement,
.scoll ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}
.scoll::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}
.scoll::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 3px;
}
.scoll::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}

.scoll::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #fff;
  -webkit-border-radius: 3px;
}

.scoll p {
  line-height:20px;
  padding: 0;
  margin: 0;
  text-shadow: 0 1px 0 #fff;

  padding: 5px 10px;
}
.scoll p:nth-child(even) {
  background: #f0f0f0;
}

#FooterBar {
background: #FAFAFA;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#eaeaea');
background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#DADADA));
background: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
background: -o-linear-gradient(top,#FAFAFA,#EAEAEA);
z-index: 10;
border-top: 1px solid #CACACA;
box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
margin: 0;
padding:0;


display:block;

    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

#HeaderBar {
background: #FAFAFA;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#eaeaea');
background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#EAEAEA));
background: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
background: -o-linear-gradient(top,#FAFAFA,#EAEAEA);
z-index: 10;
border-bottom: 1px solid #CACACA;
box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
margin: 0;
height: 25px;
    line-height: 25px;

    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;

}

#HeaderBar p {
    float:right;
}

#ChatBox{
    margin: 10px 0 0 0;
}

#ChatBoxText {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#ChatBox{
 -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
    border-radius: 10px;

    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;

    width: 200px;
    border:1px solid #eee;
}

.title {
    display:block;
    /*margin: 0px 0px 10px 0px;*/
    padding: 0px 0px 0px 10px;
    background: #ccc;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

#input_chat {
width: 120px;
height: 25px;
line-height: 25px;
float:left;
border: none;
vertical-align: middle;
background: #f0f0f0;
}
#sendMSG {
height: 20px;
float:right;
margin: 2px;
}

#input_chat:focus {
outline: 0;
}

#input_box {
    background: #f0f0f0;
}

#inputNick {
    width: 150px;
    outline: 0;
border: 1px solid #ededed;
vertical-align: middle;
background: #fff;
    height: 20px;
    line-height: 20px;
    margin:5px;
    font-family: 'Flavors', cursive;
}

#login {

background: #FAFAFA;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#eaeaea');
background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#EAEAEA));
background: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
background: -o-linear-gradient(top,#FAFAFA,#EAEAEA);
position: relative;
z-index: 10;
border-bottom: 1px solid #CACACA;
box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);


    float:right;
    border: 1px solid #DDD;
    padding: 0 0 0 5px;

}

#header{
    display:block;
    width: 100%;
    height: 50px;
}
#header span{
    font-size:20px;

}

#main{
    display:block;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;

    position:absolute;
    top:96px;
    bottom: 15px;
    right:0px;
    left:0px;
    padding:0 50px 0 40px;
}
#logo{
    background:url("caroworld.jpg") no-repeat;
    display:block;
    width: 100%;
    height: 480px;
    margin-left:220px;
    float:left;
}
#Signin{
    display:block;
    width: 30%;
    height: 480px;
    float:left;
}
#Signin p {
    width: 100%;
    display:block;
    float:left;
}

#signin{

background: #FAFAFA;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#eaeaea');
background: -webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#EAEAEA));
background: -moz-linear-gradient(top,#FAFAFA,#EAEAEA);
background: -o-linear-gradient(top,#FAFAFA,#EAEAEA);
position: relative;
z-index: 10;
border-bottom: 1px solid #CACACA;
box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    float:left;
    border: 1px solid #DDD;
    margin: 5px;
    padding: 5px 5px 5px 5px;
}



#Log span {
    display: block;
}


#ChatBoxText p {
  padding: 0;
  margin: 0;
  font: 12px Helvetica, Arial;
  padding: 5px 10px;
}
#ChatBoxText p b {
  display: inline-block;
  padding-right: 10px;
}

#button1 {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    padding:10px 40px;
    margin:5px 0 0 15px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;

}
#button1:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
#button1:active {
    position:relative;
    top:1px;
}

#Console {
    margin: 2px;
    height: 20px;
     -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #aaaaaa;
    display: block;
}

.signed {
    padding: 0 0 0 20px;
}

.typed{
    white-space: pre-wrap;

}

.Cursor {
    white-space: pre-wrap;
}

.Guest {
    white-space: pre-wrap;
    }

#FooterBar span {
font-family: "monospace", "Courier New",'Courier';
text-shadow: 0 1px 0 blue;
color: #002BAD;
    }
